

body {
    background-color: rgb(252 252 252);
}

.list-group {
  box-shadow: 0 1px 3px rgba(32, 32, 32, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.list-group-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.badge-group {
    display: inline !important;
}

.list-group-item img {
    height: 32px;
    width: 32px;
}

.list-group-item:hover {
    filter: brightness(95%);
}

.badge {
    font-size: 12px !important;
}

.sumbit-btn {
    float: right;
}

.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.tab-container {
    width: 100%;
}

.tab-select {
    width: 150px !important;
    margin-left: auto;
}

.modal-loading {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.ban-container {
    margin-left: auto !important;
}
.ban {
    width: 150px !important;
}

#footer {
    margin-top: 100px;
}

.b-modal {
    background-color: rgb(252 252 252);
}

.b-modal img {
    max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
    height: auto;
}

.aptx img {
    max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
    height: auto;
}

.AES {
    width: 35% !important;
    white-space: normal;
}

#sumbit {
    box-shadow: 0 1px 3px rgba(32, 32, 32, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: absolute;
    margin-top: 3.7%;
    margin-left: 5%;
    width: 30%;
}

.b-footer {
    text-align: center;
}

.b-content {
    overflow: auto;
    min-height: 300px;
}

#feed {
    margin-left: 40%;
    width: 55%;
}

.ban-group {
    float: right;
    margin-top: 0;
    height: 1px;
}

#logo {
    margin-top: 4%;
    margin-left: 5%;
    font-weight: bold;
    color: rgb(246 55 90);
}

#error {
    margin-left: 5%;
}

footer{
    bottom: 0;
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 13px;
}

.modalPassword {
    width: 20% !important;
}

.search {
    width: 80% !important;
}

@media (max-width: 768px) {
    #sumbit {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }
    #feed {
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
    }
    .modalPassword {
        width: 50% !important;
    }
    .recaptcha-container {
        display: inline-block; /* 또는 block */
    /* ReCAPTCHA 위젯의 기본 크기가 304px (너비) x 78px (높이) 임을 가정 */
    /* 크기 변경 비율 계산 (예: 0.8배로 축소) */
    transform: scale(0.95); /* 80% 크기로 축소 */
    transform-origin: 0 0; /* 왼쪽 상단을 기준으로 축소 */
    }
}